

h1 {
    color: red;
    font-family: Arial;
}

.container {
    /*position: absolute;*/
    /*width: 400px;*/
    /*max-width: 450px;*/

    /*top: 50%;*/
    /*left: 50%;*/
    /*transform: translate(-50%, -50%);*/

    /*justify-content: center;*/

    display: flex;
}

.form-container{
    margin: auto;
    margin-top: 200px;
    border: 2px solid black;
    padding: 15px 35px;
    text-align: center;
}

