
body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

h1 {
    color: white;
    font-family: Arial;
}

.container{
    display: flex;
}

.img-container{
    position: absolute;
}

.image{
    background-position: center;
    background-size: cover;
    max-width: 100%;
    display: flex;
}


.form-container{
    margin: auto;
    border: none;
    padding: 15px 35px;
    text-align: center;
    border-radius: 25px;
    position: relative;
    width: 400px;
    background-color: rgba(0, 0, 0, 0.75);
    margin-top: 200px;
}

.input-in{

    border-radius: 5px;
    border: 1px solid black;
    width: 200px;
    height: 35px;

}



.btn {
    background-color: blue;
    color: white;

    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid blue;

}

.btn:hover{
    background-color: white;
    color: black;
    border: 1px solid black;
    cursor: pointer;
}
