body{
    font-family: Roboto, sans-serif;

}

.form-container{
    margin: auto;
    border: none;
    padding: 15px 35px;
    text-align: center;
    border-radius: 25px;
    position: relative;
    width: 400px;
    background-color: rgb(51, 207, 255);
    margin-top: 200px;
}

.input-in{

    border-radius: 5px;
    border: 1px solid black;
    width: 200px;
    height: 35px;

}

.container {
    display: flex;
}

.btn {
    background-color: blue;
    color: white;
    padding: 5px 10px;
    border-radius: 7px;
    border: 1px solid blue;

}