@import url('https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans&display=swap');
*{
    font-family: Roboto, sans-serif;
}

table{
    border: 1px solid #4b4444;
    border-collapse: collapse;
    width: 800px;
    font-family: "Roboto", serif;
}

th {
    background-color: #22222c;
    color: white;
}

th, td{
    border: 1px solid #4b4444;
    border-collapse: collapse;
    text-align: center;
    align-content: center;
    padding: 5px 10px;
}

td {
    background-color: aquamarine;
}

.container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;

}

.btn{
    background-color: blue;
    color: white;
    padding: 2px 7px;
    border-radius: 7px;
    border: 1px solid blue;
    text-decoration: none;
    font-size: 15px;
}