<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.springframework.org/schema/integration/scripting">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link href="/static/css/create.css" rel="stylesheet" th:href="@{/css/create.css}">
    <security:intercept-url pattern="/resources/**" access="permitAll" />
</head>
<body>
<div class="container">
    <div class="form-container">
<h1>
  Student create page
</h1>


<form action="#" th:action = "@{create}" th:object = "${student}" method="POST" >
  <p><input placeholder="First Name" class="input-in" type="text" th:field = "*{firstName}" > </p>
  <p><input placeholder="Last Name" class="input-in" type="text" th:field = "*{lastName}" > </p>
  <p><input placeholder="Email" class="input-in" type="text" th:field = "*{email}"> </p>

  <p>
    <input class="btn" type="submit" value="Create"/>
    <input class="btn" type="submit" value="Reset"/>
  </p>
</form>
    </div>
</div>

</body>
</html>