<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
  <link rel="stylesheet" href="/css/students.css">
</head>
<body>

<div class="container">

<table>
  <tr>
    <th>Id</th>
    <th>First Name</th>
    <th>Email</th>
    <th>Phone</th>
    <th>EDIT</th>
  </tr>

<tr th:each="student : ${students}">
  <td th:text="${student.id}">123</td>
  <td th:text="${student.firstName}" >test</td>
  <td th:text="${student.lastName}" style="margin-left: 15px">test</td>
  <td class="email" th:text="${student.email}" style="margin-left: 15px">test</td>
  <td class="edit-btn"><input type="submit" value="edit" th:href="@{'/edit' + ${student.id}}"></td>

</tr>
</table>

</div>

</body>
</html>