<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org" xmlns:security="http://www.springframework.org/schema/integration/scripting">
<head>
    <meta charset="UTF-8">
    <title>Öğrenci Güncelle</title>
    <link href="https://fonts.googleapis.com/css2?family=Inter&family=Montserrat&family=Open+Sans&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/css/update.css" th:href="@{/css/update.css}">
</head>
<body>
<div class="container">

    <div class="img-container">
        <img class="image" th:src="@{/image/university2.jpg}" alt="image" src="/static/image/university2.jpg.jpg"/>
    </div>

<div class="form-container">



    <h2>[[${pageTitle}]] </h2>

    <form action="#" th:action = "@{/update/{id}(id=${student.id})}" th:object = "${student}" method="POST" >
        <p><input placeholder="First Name" class="input-in" type="text" th:field="${student.firstName}" > </p>
        <p><input placeholder="Last Name" class="input-in" type="text" th:field= "${student.lastName}" > </p>
        <p><input placeholder="Email" class="input-in" type="text" th:field = "${student.email}"> </p>
        <p><input placeholder="Password" class="input-in" type="text" th:field="${student.password}"></p>
        <p>
            <input class="btn" type="submit" th:value="update"/>
        </p>
    </form>
    </div>
</div>
</body>
</html>